<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Contact List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="main.js"></script>
</head>

<body ng-app='myApp' ng-controller='mainCtrl'>
    <center>
         <div id="formTitle">Registration Form</div>

         <h3> Warning : Do not use any real information </h3>
    </center>
    <br />

    <center>
        <form name="newUser" ng-submit="newUser.$valid && submit()" novalidate>
            Email:
            <input type="text" name="email" ng-model="user.email" valid-email required />
            <span class="alert" ng-hide="newUser.email.$valid">Email is not valid</span>
            <br /> Password:
            <input type="password" name="pw" ng-model="user.pw" required />
            <span class="alert"  ng-hide="newUser.pw.$valid">Password is not entered</span>
            <br /> Password Confirmation:
            <input type="password" name="pwconf" ng-model="user.pwconf" valid-pwconf required />
            <span class="alert"  ng-hide="newUser.pwconf.$valid">Password confirm is not entered</span>
            <br /> Credit Card Number:
            <input type="text" name="ccnum" ng-model="user.ccnum" valid-credit required />
            <span class="alert"  ng-hide="newUser.ccnum.$valid">CC number is not valid</span>
            <br /> CVV Code:
            <input type="text" name="cvv" ng-model="user.cvv" valid-cvv required />
            <span class="alert"  ng-hide="newUser.cvv.$valid">cvv needs to be three digits</span>
            <br /> Postal Code:
            <input type="text" name="postalcode" ng-model="user.postalcode" required />
            <span class="alert"  ng-hide="newUser.postalcode.$valid">postalcode needs to be five digits</span>
            <input type="button" ng-click="reset()" class="btn btn-danger" value="Reset" />
            <input type="submit" ng-disabled="newUser.$invalid" class="btn btn-success" value="Save" />
        </form>
    </center>

            <br />

    <center>
        <div id="alert" ng-hide="newUser.$valid">You didn't enter all the fields</div>
    </center>
        
</body>

</html>