#header {
	background-color: #1a5ff4;
	color: black;
	padding: 10px;
}

h1 {
	color: white;
	font-size: 55px;
	font-weight: bold;
	padding: 25px;
	font-family: 'Cabin', sans-serif;
}

body {
	background-color: #cbf2ec;
	font-size: 20px;
}

h3 { 
color : red;
}

#listContent{
 padding: 15px
}

#formTitle {
	font-size: 45px;
	font-weight: bold;
}

.alert {
	font-size : 15px;
	color: red;
	margin: 0px;
}

#alert {
	font-size : 18px;
	color: red;
}